.article {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  border: 2px solid black;
}
.lightMode {
  color: #333;
  background-color: #fee;
}
.darkMode {
  color: #fee;
  background-color: #333;
}
