.button {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #000000;
}

.button .primary {
  background-color: #000000;
  color: #ffffff;
}

.button .secondary {
  background-color: #ffffff;
  color: #000000;
}
